body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f9fa;
    padding: 20px;
}

h1 {
    color: #007bff;
}

input[type="file"] {
    margin: 20px auto;
    display: block;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}

#downloadButton {
    display: none;
}

a#downloadLink {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

a#downloadLink:hover {
    background-color: #0056b3;
}
